#userlinks
  %p
    Welcome
    = "#{current_user_or_guest.login}."
  %ul
    - unless current_user_or_guest.anonymous?
      %li= link_to 'Preferences', preferences_user_path(current_user_or_guest)
      -#%li.last= link_to 'Logout', sign_out
    - else
      -#%li= link_to 'Login', sign_in
      %li= link_to 'Sign Up', pick_signup_path
    - if current_user_or_guest.has_role?('admin', 'manager')
      %li.last= link_to 'Switch', switch_user_path(current_user_or_guest)

      = render :partial => 'shared/activity_trail'

#lead.project-header
  %h1{:class => theme_name}
    %a{ :href => "/" }= "#{APP_CONFIG[:site_name]}"

#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
  %ul.menu_h_right
    = render :partial => 'shared/admin_nav_trail'

