#userlinks
  %p
    Welcome
    = "#{"current_user ? current_user.name : 'Guest'"}."
  
    

    = render :partial => 'shared/activity_trail'

#lead.project-header
  %h1{:class => theme_name}
    %a{ :href => "/" }= "#{current_project.name}"

#nav_top
  %span.hidden.doNotPrint
    Navigation:
  %ul.menu_h
    = render :partial => 'shared/main_nav_trail'
  %ul.menu_h_right
    = render :partial => 'shared/admin_nav_trail'

